# Build
build/
.kotlin/

# Idea
.idea
*.iml

# Gradle
.gradle
local.properties
.gradletasknamecache

# OS
.DS_Store

# XCode
xcuserdata/

# Android
zeeygo-android/debug/
zeeygo-android/release/
.externalNativeBuild
sdk-dependencies
apk
.cxx
logs/
mapping

# LangTool
.langtool/deepl.authtoken

